#nav {
    background-color: #d39292;
    padding: 20px;
}


#footer {
    padding: 10px;
    background-color: #d39292;
    color: #fffffd;
}

.btn {
    margin-left: 3px;
    margin-right: 3px;
}

div.btn a {
    color: #fff;
}
